/*GENERAL*/
html,body {
    font-family: Raleway,Arial, Helvetica, sans-serif;
    margin-right: 50px;
    margin-left: 50px;
}
.flex-centre{
   display: flex; 
   justify-content: center;
   align-items: center;
}
.flex-around{
display: flex;
justify-content: space-around;
align-items: center;
}

.flex-between{
display: flex;
justify-content: space-between;
align-items: center;
}
.flex-column-centre{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .flex-column-around{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 }
 
 .flex-column-between{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 }
.decorationNone{
    text-decoration: none;
}
.bordureNone{
    border: none;
}
.texteGras{
    font-weight: bold;
}
.colorBleu{
    color: #0065fc;
}
.colorBleuClair{
    color: #deebff;
}
.colorGris{
    color: #f2f2f2;
}
.backBleu{
    background-color: #0065fc;
}
.backBleuClair{
    background-color: #deebff;
}
.backGris{
    background-color: #f2f2f2;
}
/*Nav*/
.sizeNav{
    height: auto;
}
.sizeLiens {
    width: 100%;
}
.sizeLien {
    width: 140px;
    height: 99px;
}

.colorlien2{
    color: black;
}
.bordureNav{
    border-top: 1px solid transparent;
}
.bordureNav:hover{
    border-top: 1px solid #0065fc;
    cursor: pointer;
}
.bordureNav:hover > a{
    color: #0065fc;
}
.marglogo{
    margin-bottom: 7px;
}
/*HEADER*/
.borduresearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch{
    padding-left: 20px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0px;
}
.buttonSearch:hover{
    color: #0065fc;
    background-color: #f2f2f2;
}
/*Filtres*/
.margFiltre{
margin-top: 50px;
margin-bottom: 40px;
}
.filtre{
    display: flex;
    align-items: center;
}
.margFiltreTtitre{
    margin-right: 20px;    
}
.filtretexteIcons{
border: 2px solid #f2f2f2;
height: 50px;
border-radius: 30px;
margin-right: 20px;
}
.filtretexteIcons:hover>.filtreTexte{
    color: #0065fc;
}
.filtretexteIcons:hover>.filtreIcons{
    color: white;
    background-color: #0065fc;
}
.filtreTexte{
height: 50px;
padding-left: 20px;
padding-right: 20px;
border-radius: 0 25px 25px 0;
}
.filtreIcons{
margin-left: -2px;
border-radius: 25px;
width: 52px;
height: 52px;
color: #0065fc;
background-color: #deebff;
}
.logo{
    width: 120px;
    height: 50px;
}
.espace{
    gap: 20px;
}
/*INFO ICONE*/
.info{
    display: flex;
    align-items: center;
}
.parentIcon{
     width: 20px;
     height: 20px;
     border: 2px solid #f2f2f2;
     border-radius: 25px;
     margin-right: 5px;
}
/*HEBERGEMENTS*/
.sizeHebergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizePopulaires{
   flex: 1; 
   height: 650px;
   margin-left: 20px;
   border-radius: 10px;
   width: 90%;
}
.blocHebergements{
    padding-left: 20px;
    padding-right: 20px;
}
.bloc1{
    margin-bottom: 10px;
}
.bloc2{
    margin-bottom: 10px;
}
.cubeHebergements{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeHebergements:hover{
    cursor: pointer;
    transform: scale(1,1);
}
.cubeDetailsHebergements{
    width: 90%;
}
.imgHebergements1{
    background-image: url(./image/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements2{
    background-image: url(./image/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3{
    background-image: url(./image/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4{
    background-image: url(./image/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5{
    background-image: url(./image/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6{
    background-image: url(./image/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
/*Populaires*/
.blocPopulaires{
    padding-left: 20px;
    padding-right: 20px;
}
.blocPopulaires12{
    margin-bottom: 22px;
}
.cubePopulaires{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubePopulaires:hover{
    cursor: pointer;
    transform: scale(1,05);
}
.cubeDetailsPopulaires{
    width: 60%;
    padding-left: 5%;
}
.imgPopulaires1{
    background-image: url(./image/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires2{
    background-image: url(./image/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires3{
    background-image: url(./image/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
/*Activites*/
.Activites{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocActivites{
    width: 100%;
    height: 600px;
}
/*reglage  bloc*/
.cubeActivites{
    width: 23% ;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites:hover{
    cursor: pointer;
    transform: scale(1,05);   
}
/*fin reglage bloc*/
.hauteurTitre{
    height: 70px;
}
.titreActivites{
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 5%;
width: 95%;
}
.imgActivites1{
    background-image: url(./image/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites2{
    background-image: url(./image/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites3{
    background-image: url(./image/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivites4{
    background-image: url(./image/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
/*FOOTER*/
.footer{
    height: 300px;
    margin-top: 100px;

}
.tailleBlocFoot{
    height: 150px;
}
.margeBlocFoot1{
    margin-left: 5%;
}
.margeBlocFoot3{
    margin-right: 15%;
}
